/* !!!!!!! Banner Carousel !!!!!!!! */
.carousel-slider {
  height: 100%;
}
.thumbs-wrapper {
  display: flex;
  justify-content: center;
}

/* !!!!!!! Order Online slider !!!!!!!! */
.order-online-slider > .swiper-pagination {
  position: relative;
  bottom: -1px;
  padding: 20px 0;
}
.order-online-slider > .swiper-pagination > .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.order-online-slider > .swiper-pagination > .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
}
.order-online-slider > .swiper-wrapper > .swiper-slide {
  margin-right: 1em !important;
  width: 270px;
}
@media only screen and (max-width: 768px) {
  .order-online-slider > .swiper-wrapper > .swiper-slide {
    width: 270px !important;
  }
}

/* !!!!!!! Testimonial Slider !!!!!!!! */
.testimonial-rating-stars > span {
  font-size: 60px !important;
}
@media only screen and (max-width: 768px) {
  .testimonial-rating-stars > span {
    font-size: 20px !important;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px !important;
  }
}

/* !!!!!!! Our shop React Tabs !!!!!!!! */
.shop-react-tabs > .react-tabs__tab--selected {
  border: 0;
  border-bottom: 4px solid #d1a054;
  color: #d1a054;
  outline: 0 !important;
}

/* !!!!!!! Dashboard Navbar !!!!!!!! */
.dashboard-navbar > a.active{
  color: white;
}

/* !!!!!!! Sweet alert !!!!!!!! */
.swal2-styled.swal2-confirm{
  background-color: #d1a054!important;
}

/* !!!!!!! Add item form glass background style !!!!!!!! */
.add-items > .glass{
  backdrop-filter: blur(var(--glass-blur, 2px)) !important;
  background-color: #73737375 !important;
}